body {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0 auto;
  font-family: 'Fredoka One', cursive;
  font-size: 36px;
  padding-top: 20px;
  padding-bottom: 15px;
  color: #00805e;
}

.score {
  margin: 0 auto 5px auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: grey;
}

.snake-game {
  display: flex;
  margin: 0 auto;
  border: 1px solid gray;
}

.footer {
  display: flex;
  margin: 0 auto;
  padding: 20px;
}

.footer > li > a {
  font-size: 24px;
  color: gray;
}

.fa:hover {
  color: #00805e;
  cursor: pointer;
}

li {
  padding: 10px;
}

.snake {
  background: #00cc96;
}

.apple {
  background: salmon;
<<<<<<< HEAD
  background: url(../assets/images/peach.png) no-repeat center;
  background-size: contain;
  /*border-radius: 50%;*/
=======
  border-radius: 50%;
>>>>>>> 59db11007579b72afb4f9b284e800025a90289b9
}
